In [1]:
pip install pandas sqlalchemy

Requirement already satisfied: pandas in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (2.1.3)
Requirement already satisfied: sqlalchemy in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (2.0.30)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
df = pd.read_csv("data\Superstore.csv", encoding='windows-1252')

<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:2: SyntaxWarning: invalid escape sequence '\S'
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_10004\3882535826.py:2: SyntaxWarning: invalid escape sequence '\S'
  df = pd.read_csv("data\Superstore.csv", encoding='windows-1252')

In [10]:
from sqlalchemy import create_engine
 
URL = "postgresql://postgres.scymjaqafjfwhseenvvo:Nabila/06.05@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"
 
engine = create_engine(URL)
df.to_sql('orders', engine)

ValueError: Table 'orders' already exists.